

.add-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 7px solid #030303;
    background-color: #327091;
    box-shadow: 4px 4px 13px black;
  }
  
  .add-form input[type=text] {
      padding: 5px 8px;
      box-sizing: border-box;
  }
  
  .form-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .form-line input {
    margin-left: 15px;
  }
  
  .buttons {
    color: #eeebd3;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 0 10px 1px 10px;
    margin: 20px 0 8px 0;
    align-self: flex-start;
    font-family: 'Bowlby One SC', sans-serif;
    font-size: 20px;
    border: 1px solid darkgray;
    text-shadow: 2px 2px 2px black;
    box-shadow: 4px 4px 13px black;
  }
  
  .close-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 0.9em;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    align-self: flex-start;
  }
  
  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }