

.add-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 7px solid slategray;
    background-color: #327091;
    box-shadow: 4px 4px 13px black;
  }
  
  .add-form input[type=text] {
      padding: 5px 8px;
      box-sizing: border-box;
      background-color: blue;
  }
  
  .form-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.form-line:not(:first-child) {
    margin-top: 10px;
  }
  
  .form-line input {
    margin-left: 15px;
  }
  
  .buttons {
    color: #eeebd3;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 0 10px 1px 10px;
    margin: 20px 0 8px 0;
    align-self: flex-start;
    font-family: 'Bowlby One SC', sans-serif;
    font-size: 20px;
    border: 1px solid darkgray;
    text-shadow: 2px 2px 2px black;
    box-shadow: 4px 4px 13px black;
}

  .close-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Bowlby One SC', sans-serif;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    color: #eeebd3;
    text-shadow: 0 1px 0 #fff;
    align-self: flex-start;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form-header {
    color: #d8bd8a;
    /* color: #92c24d; */
    text-shadow: 2px 2px 2px black;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
  div.form-header>p {
      align-self: flex-start;
  }