

.circle {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #0b4f6c;
    cursor: pointer;
    height: 16px;
    margin-bottom: 10px;
    opacity: .4;
    position: relative;
    display: inline-block;
    margin: 35px 5px;
    width: 16px;
    box-sizing: border-box;
    z-index: 499;
  }

  .circle:hover {
      transform: scale(1.1);
      box-shadow: inset 0 0 0 8px #880d1e;
      z-index: 500;

  }

  .position__circle {
    left: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }