nav>.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-family: 'Cinzel', serif;
    font-family: 'Pridi', serif;
    font-weight: 700;
    font-size: 1.75rem;
}

.dropdown-toggle {
    font-weight: 700;
}