@import "../../App.scss";


section.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    margin: 5rem auto;
    
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12fr 5fr 5fr;
        grid-gap: 20px      ;
    }

    .card {
        font-family: 'Work Sans', serif;
        color: black;
        background-color: #ffffff;
        color: black;
        min-width: 300px;
        min-height: 450px;
        max-width: 300px;
        max-height: 450px;
        @include shadow-3px();
        border: none;
        user-select: none;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    
    .card-header {
        background-image: url(../../assets/img/blue.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .card-info {
        display: flex;
        flex-direction: column;
        margin: 5px;    
    }
    
    .content-title {
        font-size:1.1rem;
        justify-self: flex-start; //left 
        align-self: flex-start; //top
        line-height: 1;
    }
    
    .content-type {
        font-size: .9rem;
        color: $light-text-color; 
    }
    
    .card-footer {
        // position: absolute;
        font-size: .7rem;
        color: black;
        position: relative;
        padding: 5px;
        margin-bottom: -5px;
    }
    
    .card-footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        border: none;
    }
    
    .card-footer .content-owner {
        margin-bottom: 5px;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-self: flex-start;
        align-self: flex-start;
        font-size: .9rem;
        
    }
    
    .content-button {
        width: 60px;
        font-family: "work sans",sans-serif;
        font-size: 0.7rem;
        font-weight: 700;
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        justify-self: flex-end;
        align-self: flex-start;
        @include shadow-form-btn();
    }
    .card-footer .date-added {
        margin-bottom: 1px;

        margin-top:16px;
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        justify-self: flex-start;
        align-self: flex-start;
    }
    .time-read {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        justify-items: flex-end;
        justify-self: flex-start;
        align-self: flex-end;
        margin-bottom: 1px;
    }
    .view-icon {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        justify-items: flex-start;
        align-self: flex-end;
    }

    .content-card i.view-icon {
        color: #0b4f6c;
        transition: all .5s;
        justify-self: flex-end;
        align-self: flex-end;
    }
    .view-icon:hover {
        color: #880d1e;
    }

    i,
    .views {
        display: inline;
        justify-self: flex-end;
        align-self: flex-end;
    }

    i {
        margin: 0 3px 3px 0;
        padding: 0;
    }
    .hidden-content {
        display: none;
    }

    .visible-content {
        display: block;
        text-align: left;
    }

}