@import './../../../../styles/colors';
.page-head-info {
    text-align: left;
    padding: 40px 0;
    color:$grey-primary;
    background-image: url(/assets/imgs/I2I_Brand_Header_wide.5.png);
    background-repeat: no-repeat;
    background-position: top center;

    h1 {
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    h2 {
        font-size: 36px;
        letter-spacing: 0.1px;
    }

    h3 {
        font-size: 28px;
        letter-spacing: 0.1px;
        font-style: italic
    }
}