$color_1: #ffffff;
$background_color_1: #0054a6;

.header {
    position: relative;
    background-color: $background_color_1;
    padding: 10px 27px 0;
    z-index: 99;

    h2 {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: .1px;
        color: $color_1;
        vertical-align: middle;
        padding: 1.2em 0 .05em;
        display: inline-block;
    }

    img {
        padding: 0 0 1em;
        // margin-top: -13px;
        height: 20px;
        padding: 0 5px 0 0;
        margin-top: -3px;

        &.logo {
            width: 45px;
            height: 45px;
            object-fit: contain;
            margin-bottom: 25px;
        }
    }

    .helplink {
        float: right;
        font-size: 16px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: .1px;
        color: $color_1;
        display: flex;
        align-items: center;
        margin-top: 30px;

        a {
            color: #fff;
        }
    }

    .helptext {
        margin-top: -10px;
    }
}