<div class="card-container container toggled">
  <div class="row">
    <div class="col-12">
      <div class="sec-header-drop-menu-container">
        <h2>Living our Mission Measures</h2>
        <!-- Dropdown component here -->
        <app-card-filter-panel [divisions]="lommDivisions" (card-division-selection)="cardDivisionSelect($event)">
        </app-card-filter-panel>
      </div>
    </div>
    <div class="col-12">
      <div class="card-body-section">
        <!-- Groups -->
        <ng-container *ngFor="let cards of cardsMatrix; let i=index;">
          <ng-container *ngTemplateOutlet="cardGroupTemplate; context: {$implicit: cards, cards:cards, outerIndex: i}">

          </ng-container>
        </ng-container>

        <!-- Card Group-Template -->
        <ng-template #cardGroupTemplate let-cards="cards" let-outerIndex="outerIndex">
          <div class="cards">
            <div class="row">
              <div class="col-{{getColWidth()}} p-4" *ngFor="let card of cards; let innerIndex=index">
                <app-card-primary [card-data]="card" [card-next-qtr-data]="getNextQtrCard(card)" (click)="cardClick(card, outerIndex)"></app-card-primary>
              </div>
            </div>
          </div>
          <div class="card-detail">
            <div class="row">
              <div class="col-12">
                  <app-card-detail [iframe-url]="qlikUrl" id="card-detail-{{outerIndex}}"></app-card-detail>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>