@import './../../../../styles/colors';

.card-container {
    padding-bottom: 50px;
    display: block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    max-width: 100%;

    &.toggled {
        max-width: 95%;
    }

    .card-body-section {
        .row {
            margin-bottom: 0;
        }
    }

    .sec-header-drop-menu-container {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
            font-size: 36px;

            @media (max-width: 1439px) {
                font-size: 24px;
            }
        }

        h3,
        h2 {
            max-width: 700px;
            display: inline-block;
            color: $grey-primary;
        }

        select {
            float: right;
            margin-top: 7px;
        }
    }
}

.row {
    margin-bottom: 24px;
}