

  button,
  summary,
  a {
      outline: none;
  }
  
  .container {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  div.landingHeader {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100px;
      grid-gap: 10px;
      width: 100vw;
    }

    details.move-right {
        justify-self: right;
        align-self: center;
        padding-right: 50px;
    }

    .profile-box {
        width: 25px;
        height: 25px;
        border-radius: 10px;
        background-color: #08605f;
    }
    
    ul.dropdown-content {
        align-self: center;
        justify-self: right;
    }

    li {
        list-style-type: none;
        color: #8e936d;
    }

    a,
    a:hover,
    a:active {
      color: black;
        text-decoration: none;
    }

    .landingHeader>h1 {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 6px;
        text-align: left;
        padding: 10px 60px;
        opacity: 1;
        text-shadow:  1px 1px rgba(0, 0, 0, 0.5) ,
                2px 2px rgba(0, 0, 0, 0.81) ,
                3px 3px rgba(0, 0, 0, 0.82) ,
                4px 4px rgba(0, 0, 0, 0.83) ,
                5px 5px rgba(0, 0, 0, 0.84) , 
                6px 6px rgba(0, 0, 0, 0.85) , 
                7px 7px rgba(0, 0, 0, 0.86) , 
                8px 8px rgba(0, 0, 0, 0.87) , 
                9px 9px rgba(0, 0, 0, 0.88) , 
                10px 10px rgba(0, 0, 0, 0.89);
  }

  ul {
      text-decoration: none;
  }

  li {
      font-size: 20px;

  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr; 
    justify-items: center;
    align-items: flex-end;
    margin: 0 150px 0 150px;
    height: 60vh;
  }

  p.large__text {
      justify-content: center;
      align-items: center;
      font-size: 35px;
      color: goldenrod;
      margin-bottom: 5px;
  }

  p.small__text {
      font-family: 'open sans', sans-serif;
      font-weight: 400;
      font-size: 20px;
      margin-top: -10px;
  }

  .cards {
      display: flex;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      justify-items: center;
      align-items: center;
  }

    .card1,
    .card2,
    .card3 {
        font-family: 'open sans', sans-serif;
        font-weight: 400;
        color: white;
        font-size: 16px;
        width: 200px;
        height: 150px;
        border-radius: 15px;
        /* border: 1px solid black; */
        box-shadow: 3p 3px 3px darkgray;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        margin: auto auto;
    }

    .box1,
    .box2,
    .box3 {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 10px;
        margin: 0 auto;
    }
    .card1 {
        background-color: #176087;
    }
    .card2 {
        background-color: #177e89;
    }
    .card3 {
        background-color: #8e936d;
    }

  button.cta {
    align-self: flex-start;
  }

  .cta {
      padding: 10px 50px;
      font-family: 'Pridi', sans-serif;
      letter-spacing: 2px;
      font-size: 22px;
      font-weight: 700;
      background-color: #0b4f6c;
      color: rgb(235, 233, 233);
      text-shadow: 2px 2px 2px black;
      border: 1px solid #60666b;
      border-radius: 10px;
      box-shadow: 1px 1px 6px rgb(235, 233, 233);
    }

    .cta:hover {
        transform: translateY(-2px);
        box-shadow: 2px 2px 13px rgb(235, 233, 233);
    }

    .cta:active {
        transform: translateY(1px);
        box-shadow: 1px 1px 10px rgb(235, 233, 233);
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInDownBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
      transform: translate3d(0, -2000px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  
  h1 {
    animation: fadeInDownBig 2s 2s;
  }
