$background-color-1: #fefefe;
$border-color-1: #0934a2;
$white: #fff;
$black-50: rgba(0, 0, 0, 0.5);
$black-20: rgba(0, 0, 0, 0.2);
$black-12: rgba(0, 0, 0, 0.12);
$black-14: rgba(0, 0, 0, 0.14);
$grey-primary: #52575a;
$grey-secondary: #778f9b;
$link-blue-1: #0097a9;