body {
  /* background: linear-gradient(to top left, rgb(255, 255, 255, 0.7),rgb(66, 54, 54, 0.4)), url(./assets/img/blue.jpg); */
  /* background: linear-gradient(to top left, rgb(0, 0, 0, 0.7),rgb(66, 54, 54, 0.4)), url(./assets/img/space.jpg); */
  background: linear-gradient(to top left, rgb(0, 0, 0, 0.7),rgb(66, 54, 54, 0.4)), url(./assets/img/blue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 100%;
}

.App {
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
